.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: flex-start;
  margin: auto;
  max-width: $maxWidth;

  * {
    display: flex;
    justify-content: center;
    font-size: 30px;
    line-height: $blockHeight;
    height: $blockHeight;
    width: 100px;
    background-color: $colorBlock;
    border: 1px solid black;
    transform: translateY(0);
    transition: transform 0.5s;
  }

  > :hover {
    background-color: pink;
    animation: move-up-block;
    transform: translateY(-20px);
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s;
  }
}
