@import "variables";
@import "normalize";

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: $maxWidth;
  margin: auto;

  @for $i from 1 through 31 {
    div:nth-child(#{$i}) {
      background-color: $colorBlock;
      height: 100px;
      width: 100px;
      border: 1px solid black;
      margin: 1px;
    }
  }

  div:hover {
    cursor: pointer;
    animation: move-up-block 0.5s;
  }
}

@for $a from 1 through 31 {
  .calendar div:nth-child(#{$a})::after {
    content: "#{$a}";
    display: flex;
    font-size: 30px;
    line-height: 100px;
    justify-content: center;
  }
}

@each $day, $number in $days {
  #{$day} div:first-child {
    margin-left: $number * 102px + 1;
  }
}

@each $date, $numDate in $dateth {
  #{$date} div:nth-child(n+#{$numDate}) {
    display: none;
  }
}

@keyframes move-up-block {
  from {
    background-color: $colorBlock;
  }

  to {
    background-color: pink;
    transform: translate(0, -20px);
  }
}
